<!--<div class="form-group">
    <label for="beneficio"><span class="req">* </span> Benefício: <small>Descrição do
            benefício</small> </label>
    <input required type="text" [(ngModel)]="beneficio.descricao" name="descricao" id="descricao" class="form-control"
        maxlength="100" placeholder="Descrição do benefício..." />
</div>-->


<div class="container">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Benefício Flex</h4>
            <p class="card-category">Cremesp</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Nome do solicitante ..." class="form-control" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" value="" placeholder="Valor utilizado ..." class="form-control" />
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col">
                    <p>Escolha o tipo do benefício:</p>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            Despesas não cobertas por Plano Odontológico.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            Despesas não cobertas pelo Plano de Saúde.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option3">
                            Medicamentos.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option4">
                            Óculos e lentes de contato.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option5">
                            Academia.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option6">
                            Idiomas.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option7">
                            Educação e Cultura.
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option8">
                            Filhos Recém Nascidos (De 0 até 2 anos).
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <input name="teste" placeholder="123456" [textMask]="{mask: mask}" type="text"/>

            <input type="text" name="field" ng-model="number" ui-number-mask>

            <hr>

            <button mat-raised-button class="btn btn-success" (click)="adicionarBeneficio()">Salvar</button>

        </div>
    </div>
</div>