<div class="container">

    <ng-template #customLoadingTemplate></ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
    </ngx-loading>

    <div class="row p-4 justify-content-center printMaxWidth doNotDisplay print">
        <img src="http://www.cremesp.org.br/Templates/v201108/images/logo2018.png" class="img-fluid"
            alt="Responsive image" width="350">
    </div>

    <div class="card printMaxWidth">

        <div class="card-header card-header-primary">
            <h4 class="card-title">Benefício Flex</h4>
            <span>Solicitação de Reembolso</span>
        </div>

        <div class="card-body">

            <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="input-group col-sm-11 pt-3 pb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user faIconFixedSize fa-lg"></i>
                            </span>
                        </div>
                        <input id="solicitante" [(ngModel)]="reembolso.solicitante" name="solicitante" type="text"
                            placeholder="Nome do solicitante ..." formControlName="solicitante"
                            class="form-control printWithoutBorder"
                            [ngClass]="{ 'is-invalid': submitted && f.solicitante.errors }"
                            class="form-control printWithoutBorder" (keyup)="listUsers($event)" list="dynamicList"
                            upperCase autofocus />
                        <datalist id="dynamicList">
                            <option *ngFor="let usuario of usuarios" [value]="usuario.nome">{{usuario.nome}}</option>
                        </datalist>
                        <div *ngIf="submitted && f.solicitante.errors" class="invalid-feedback infMargin">
                            <div *ngIf="f.solicitante.errors.required">O solicitante é obrigatório!</div>
                            <div *ngIf="f.solicitante.errors.minlength">O solicitante precisa ter pelo menos 3
                                caracteres!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group col-sm-11 pt-3 pb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-address-card faIconFixedSize fa-lg"></i>
                            </span>
                        </div>
                        <select id="secao" [(ngModel)]="reembolso.siglaSecao" name="secao" formControlName="secao"
                            class="form-control selectpicker printWithoutBorder selectedItem" data-style="btn btn-link"
                            [ngStyle]="{'color': newColor}" (change)="newColor='#495057'"
                            [ngClass]="{ 'is-invalid': submitted && f.secao.errors }">
                            <option value="" disabled selected hidden>Seção do solitante ...</option>
                            <option *ngFor="let secao of secoes" [ngValue]="secao.siglaSecao">
                                {{secao.descricao}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.secao.errors" class="invalid-feedback infMargin">
                            <div *ngIf="f.secao.errors.required">A seção é obrigatória!</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-group colFixedSize pt-3 pb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-file-invoice-dollar faIconFixedSize fa-lg"></i>
                            </span>
                        </div>
                        <input id="valor" [(ngModel)]="reembolso.valor" name="valor" formControlName="valor"
                            maxlength="10" currencyMask [(ngModel)]="valor"
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            class="form-control  currencySize printWithoutBorder" placeholder="Valor utilizado ..."
                            [ngClass]="{ 'is-invalid': submitted && f.valor.errors }" />
                        <div *ngIf="submitted && f.valor.errors" class="invalid-feedback infMargin">
                            <div *ngIf="f.valor.errors.required">O valor é obrigatório!</div>
                            <div *ngIf="f.valor.errors.minlength">Valor incompleto!</div>
                        </div>
                    </div>
                    <div class="input-group colFixedSize pt-3 pb-3 doNotDisplay print">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt faIconFixedSize fa-lg"></i>
                            </span>
                        </div>
                        <input formControlName="data" name="data" id="data" [(ngModel)]="reembolso.data" type="text"
                            class="form-control printWithoutBorder" value="{{reembolso.data | date:'dd/MM/yyyy'}}" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-group col pt-3 pb-2">
                        <span class="input-group-text">
                            <i class="fas fa-gifts faIconFixedSize fa-lg"></i>
                        </span>
                        <span class="greyColor pt-2 doNotPrint">
                            Tipo do benefício:
                            <div *ngIf="submitted && f.tipoBeneficio.errors" class="invalid-message">
                                <div *ngIf="f.tipoBeneficio.errors.beneficioNotSelected">O tipo do benefício é
                                    obrigatório!</div>
                            </div>
                        </span>
                        <span class="pt-2 doNotDisplay print darkColor">
                            {{ selected==i ? "" : beneficioEscolhido | uppercase }}
                        </span>
                    </div>
                </div>

                <div class="row pl-4 doNotPrint">
                    <div class="col pb-2">

                        <div *ngFor="let beneficio of beneficios;let i = index">
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input [(ngModel)]="reembolso.beneficio" formControlName="tipoBeneficio"
                                        class="form-check-input" type="radio" name="tipoBeneficio" id="id_{{i}}"
                                        [value]="beneficio"
                                        [ngClass]="{ 'is-invalid': submitted && f.tipoBeneficio.errors }"
                                        (click)="selected=i;beneficioEscolhido=beneficio.descricao">
                                    <div [style.color]="selected==i?'#495057':'#aaaaaa'">
                                        {{ beneficio.descricao }} </div>
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>


                <div [className]=" obs.value != '' ? ' row print' : 'row doNotPrint '">
                    <div class="input-group col-sm-11 pt-3 pb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text faIconFixedTop">
                                <i class="fas fa-comments faIconFixedSize fa-lg"></i>
                            </span>
                        </div>
                        <textarea [(ngModel)]="reembolso.observacao" formControlName="observacao" #obs autosize
                            type="text" placeholder="Observações ..." class="form-control printWithoutBorder" autofocus
                            upperCase></textarea>
                    </div>
                </div>

                <div class="row doNotDisplay print pt-5 pb-2">
                    <div class="col-12 assignHeight">
                        <hr class="greyColor assignLine">
                    </div>
                    <div class="col-12 greyColor pt-2 assignLabel">
                        Assinatura
                    </div>
                </div>

                <hr>

                <div class="row ">
                    <div class="col doNotPrint">
                        <button type="submit" class="btn btn-success">SALVAR</button>
                    </div>
                    <div class="col p-1 mr-3 doNotPrint alignEnd">
                        <img src="http://www.cremesp.org.br/Templates/v201108/images/logo2018.png" class="img-fluid"
                            alt="Responsive image" width="200">
                    </div>
                </div>
                
            </form>

        </div>

    </div>

    <div class="row doNotDisplay print cutMargin">
        <div class="col-md-auto pt-1 pl-0 pr-2 ">
            <i class="fas fa-cut greyColor"></i>
        </div>
        <div class="col p-0">
            <hr class="greyColor cutDashed">
        </div>
    </div>

</div>